<h3>Games</h3>

<table class="table">
<tr>
  <th>Game</th>
  <th>Opponent</th>
  <th>Goals for</th>
  <th>Goals Against</th>
	<th>Result</th>
</tr>
  <% @games.each do |g| %>
  <tr>
    <td><%= g.play_at.in_time_zone('Pacific Time (US & Canada)').strftime('%b %d @ %I:%M %p') %></td>
    <td><%= g.opponent %></td>
    <td><%= g.goals_for %></td>
    <td><%= g.goals_against %></td>
    <td><%= g.result %></td>
  </tr>
  <% end %>
</table>